{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Inventory | Home</title>
{% endblock %}


{% block content %}
<h1 class="text-primary text-center my-2">Inventory</h1>

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-info my-3">Reports</h2>
        <a href="{% url 'purchasecreate' %}" class="btn btn-info text-white">Create</a>
    </div>
    <table class="table inventory-table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Timestamp</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>
                    {{ purchase.menu_item.title }}
                </td>
                <td class="price">{{ purchase.timestamp }}</td>
                <td>{{purchase.menu_item.price}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <h2>Totals</h2>
    <div style="color: green;">Total Revenue: ${{ revenue|stringformat:".2f" }}</div>
    <div style="color: red;">Total Cost: ${{ total_cost|stringformat:".2f" }}</div>
    <div style="color: blue;">Total Profit: ${{ profit|stringformat:".2f" }}</div>



</div>
{% endblock %}